.wrapper {
  height: 100vh;
  width: 100vw;
  background-color: #e8f6ef;
  //container-----
  .container {
    position: fixed;

    left: 2%;
    height: 97vh;
    width: 96%;
    //header-----
    header {
      position: fixed;
      vertical-align: center;
      height: 30px;
      width: 100vw;
      background-color: #ffe194;
    }
    //container-----
    .createCard {
      display: block;
      position: fixed;
      top: 30px;
      height: 40px;
      width: 200px;
    }
    //card-----
    .card {
      height: 100%;
      width: 100%;
      top: 80px;
      display: block;
      position: fixed;

      div {
        background-color: #4c4c6d;
        height: 120px;
        width: 120px;
        button {
          position: relative;
          top: -23px;
        }
      }
    }
  }
}
