.wrapper {
  height: 100vh;
  width: 100vw;
  background-color: rgb(135, 255, 249);
  //container-----
  .container {
    position: fixed;

    left: 2%;
    height: 97vh;
    width: 96%;
    //header-----
    header {
      position: fixed;
      vertical-align: center;
      height: 30px;
      width: 100vw;
      background-color: rgb(253, 255, 129);
    }
    //container-----
    .createCard {
      display: block;
      position: fixed;
      top: 30px;
      height: 40px;
      width: 200px;
    }
    //card-----
    .card {
      height: 100%;
      width: 100%;
      top: 80px;
      display: block;
      position: fixed;

      div {
        height: 80px;
        width: 120px;
      }
    }
  }
}
